body{
    background-color: black;
    margin: 0;
    width: auto;
    
}

.nav{
    background-color: black; /* Black background */
    padding: 26px; /* Add some padding */
    text-align: left;
}

.nav a{
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Font size */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 4px; /* Add spacing between links */
    padding: 0px 15px; /* Padding for better click area */
    display: inline-block;
}

.nav a:hover {
    background-color: gray; /* Gray background on hover */
    border-radius: 5px; /* Rounded corners */
}

.body-content{
    height: 500px;
    width: 100%;
    padding: 44px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
}
h1{
    font-size: 36px;
    font-family: Arial;
}
span{
    display: block;
}

.signin-btn {
    margin-top: 10px;
    background-color: white; /* White background */
    color: black; /* Black text */
    border: none;
    margin-left: 44px;
    padding: 18px;
    font-size: 18px;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    font-weight: bold;
}
.image{
    display: grid;
    grid-template-columns: repeat(2, 200px); /* 2 columns */
    grid-template-rows: repeat(2, 200px); /* 2 rows */
    gap: 10px;
}
.image img{
    width: 200px; /* Adjust size */
    height: 200px;
    border-radius: 10px; /* Optional: Rounded corners */
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.separator{
    height: 100%;
    width: 50px;
    background-color: black;
    color: white;
}
.lwr-text {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.lower-body{
    padding-top: 44px;
    padding-left: 44px;
    padding-bottom: 44px;
    padding-right: 0px;
    margin-top: 200px;
    margin: auto;
    display: flex;
    height: 500px;
    width: 100%;
}

.imagess img{
    width: 500px; /* Adjust size */
    height: 100%;
    border-radius: 10px; /* Optional: Rounded corners */
    justify-content: end;
    /*object-fit: cover;*/
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 0;
}